@import "../../../assets/styles/variables.scss";

.UserPanel {
  display: block;
  text-align: center;
  margin: 25px auto;
  .UserImage {
    width: 35px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
  }

  .UserMenu {
    display: block;
    position: absolute;
    color: $dark-black;
    top: 20px;
    left: 55px;
    min-width: 150px;
    background-color: $content-color;
    border: 1px solid $very-light-grey;
    box-shadow: 1px 1px $very-very-light-grey;

    &::after, &::before {
      right: 100%;
      top: 15%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::after {
      border-color: rgba(136, 183, 213, 0);
      border-right-color: $white;
      border-width: 5px;
      margin-top: -5px;
    }

    &::before {
      border-color: rgba(194, 225, 245, 0);
      border-right-color: $very-light-grey;
      border-width: 6px;
      margin-top: -6px;
    }

    .UserName {
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid $very-very-light-grey;
    }

    .Options {
      padding: 0;
      margin: 0;
      text-align: left;
      .Option {
        list-style: none;
        padding: 5px;
        cursor: pointer;
        &:hover {
          background-color: $very-very-light-grey;
        }
        a {
          font-size: $font-small;
          padding: 0;
          margin: 0;
          color: $dark-black;
          text-align: left;
        }
      }
    }
  }
}
