@import '../../assets/styles/variables.scss';

.Toast {
  display: flex;
  align-items: center;
  bottom: 0px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  min-height: 50px;
  max-height: 50px;
  justify-content: space-between;
  left: 50%;
  padding: 0 20px;
  position: fixed;
  transform: translateX(-50%) translateY(150%);
  transition: transform .35s ease;
  background-color: $content-color;
  color: $dark-black;
  border: 1px solid $very-light-grey;
  border-bottom: 3px solid $primary-color;
  p {
    padding: 10px;
  }
}

.ToastVisible {
  transform: translateX(-50%) translateY(-50%);
}