@import "../../../assets/styles/variables.scss";

.Button {
  min-width: 150px;
  height: 40px;
  margin-top: 10px;
  border: none;
  background: $primary-color;
  color: $white;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  outline: none;
  &:hover {
    background: $primary-color-light;
  }
}
