@import  '../../../assets/styles/variables.scss';

.Label {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 10px 0px 4px;
  color: #333;
}
.InputElement {
  font-size: 14px;
  display: block;
  background-color: transparent;
  width: 100%;
  padding: 5px 0px;
  margin-bottom: 6px;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #666;
  outline: none;
}

.Invalid {
  border-bottom-color: $error-red-light;
}