@import "../../assets/styles/variables.scss";

.PageTitle {
  color: $primary-color;
  margin: 20px;
  font-size: $font-title;
  border-bottom: 1px solid $very-light-grey;
}

.Page {
  margin: 10px 30px;
}
