@import  '../../assets/styles/variables.scss';

.AuthPage {
  display: block;

  .Title {
    display: block;
    text-align: center;
    color: $primary-color;
    padding-bottom: 10px;
    border-bottom: 1px solid $very-light-grey;
    margin-bottom: 100px;
    text-transform: uppercase;
  }

  .Box {
    width: 600px;
    height: 300px;
    background: $primary-color;
    margin: 0 auto;
    position: relative;
    input[type="radio"] {
      display: none;
    }

    input[type="radio"] + label {
      display: block;
      height: 100%;
      width: 50%;
      float: left;
      position: relative;
    }

    #signup + label {
      background: $primary-color-light;
    }

    input[type="radio"] + label:after {
      display: block;
      position: absolute;
      width: 50%;
      bottom: 35px;
      left: 0;
      right: 0;
      margin: auto;
      color: #fff;
      text-align: center;
      border: 1px solid #fff;
      cursor: pointer;
      border-radius: 4px;
      padding: 10px 30px;
      opacity: 0.6;
    }

    input[type="radio"] + label:hover:after,
    input[type="radio"]:checked + label:after {
      opacity: 1;
    }

    #signup + label:after {
      content: "Sign Up";
    }

    #login + label:after {
      content: "Login";
    }

    .Form {
      position: absolute;
      width: 200px;
      height: 300px;
      padding: 20px;
      background: #fff;
      bottom: 20px;
      transition: all 0.2s ease-in-out;
      overflow: hidden;
      .Content {
        position: relative;
        top: 0px;
        transition: all 0.2s ease-in-out;
      }
      button {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        border: none;
        background: $primary-color;
        color: $white;
        cursor: pointer;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        outline: none;
        &:hover {
          background: $primary-color-light;
        }

        &:before {
          content: "Sign Up";
          display: block;
          height: 40px;
          line-height: 40px;
          position: absolute;
          width: 100%;
          top: 0;
          left: 0px;
          transition: all 0.3s ease-in-out;
        }

        &:after {
          content: "Login";
          display: block;
          height: 40px;
          line-height: 40px;
          position: absolute;
          width: 100%;
          top: 40px;
          left: 0px;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    // Animate

    #signup:checked + label + input + label + .Form {
      left: 30px;
    }
    #login:checked + label + .Form {
      left: 330px;
    }

    #login:checked + label + .Form > button:before {
      top: -40px;
    }

    #login:checked + label + .Form > button:after {
      top: 0px;
    }

    #login:checked + label + .Form .Content {
      top: -150px;
    }
  }
}
