@import "../../assets/styles/variables.scss";

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background-color: $primary-color;
  color: $white;
  border-right: 1px solid $very-light-grey;

  a {
    display: block;
    text-align: center;
    margin: 10px;
    font-size: $font-normal;
    text-decoration: none;
    color: $white;
    transition: color .3s;
  
    &:hover {
      color: $very-light-grey;
    }
  }
}
